@media screen and (max-width: 1200px) {
    table {
        width: 400px;
    }
}

@media screen and (max-width: 768px) {
    table {
        width: 300px;
    }

    table tr td {
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .articles {
        max-width: 900px;
    }
}

@media screen and (max-width: 768px) {
    .articles {
        max-width: 600px;
    }
}

@media screen and (max-width: 960px) {
    .article-body p {
        display: none;
    }
}

@container card (min-width: 380px) {
    .article-wrapper {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 16px;
    }
    .article-body {
        padding-left: 0;
    }
    figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    figure img {
        height: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }
}
