@media screen and (max-width: 1400px) {
    table {
        width: 500px;
    }
}

@media screen and (max-width: 1200px) {
    table {
        width: 400px;
    }
}

@media screen and (max-width: 768px) {
    table {
        width: 300px;
    }

    table tr td {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    table {
        width: 250px;
    }
}

@media screen and (max-width: 1200px) {
    .articles {
        max-width: 900px;
    }
}

@media screen and (max-width: 768px) {
    .articles {
        max-width: 600px;
    }
}

@media screen and (max-width: 960px) {
    .article-body p {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .contact-text {
        left: 5% !important;
    }
}

@container card (min-width: 380px) {
    .article-wrapper {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 16px;
    }
    .article-body {
        padding-left: 0;
    }
    figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    figure img {
        height: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }
}

@media screen and (max-width: 992px) {
    .slick-slider {
        height: 300px;
    }

    .slider-item img {
        height: 300px !important;
    }
}

@media all and (max-width: 800px) {
    body {
        font-size: 0.9rem;
    }

    .flex-form {
        width: 100%;
    }

    input[type="search"] {
        flex-basis: 100%;
    }

    .flex-form > * {
        font-size: 0.9rem;
    }

    header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        padding: 10px !important;
    }

    header h2 {
        margin-bottom: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    .cover {
        padding: 20px;
    }

    #madeby {
        padding: 30px 20px;
    }
}

@media all and (max-width: 360px) {
    header nav li {
        margin: 0 10px;
    }

    .flex-form {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    input[type="search"] {
        flex-basis: 0;
    }

    label {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .footer-address-item {
        font-size: 12px;
    }
}

@media screen and (max-width: 800px) {
    .social-media-icons{
        top: 45%;
      }
      .social-media-icon i{
        font-size: 15px;
      }
      .social-media-icon{
        height: 30px;
        width: 30px;
      }
}

@media screen and (max-width: 800px) {

    .banner-image img{
        height: 350px;
    }
    .banner-text{
        bottom: 60%;
        font-size: 30px;
    }
}
