@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap");



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root {
    /* Colors */
    --brand-color: hsl(46, 100%, 50%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    /* Fonts */
    --font-title: "Montserrat", sans-serif;
    --font-text: "Lato", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Sayfanın tamamını kaplamak için */
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.navbar {
    height: 90px;
    font-family: "Montserrat", sans-serif;
    background-color: white !important;
    border-bottom: 1px solid lightgray;
}

.navbar-container {
    height: 100%;
}

.offcanvar {
    text-align: center;
}

.container {
    color: inherit;
    letter-spacing: 1px;
}

.navbar .container a {
    color: rgb(39, 38, 38);
    font-weight: 700;
}

.navbar .container a:hover,
.navbar-nav li a:hover {
    color: rgb(165, 47, 56) !important;
    transition: 0.5s ease all;
}

#offcanvasNavbar{
    color: #fff;
}

.offcanvas-header{
    border-bottom: 1px solid #ccc;
    color: black;
}

.offcanvas-body .navbar-nav{
    text-align: center;

}


.container .right ul {
    width: fit-content;
}

.container .nav-link {
    font-weight: 600 !important;
    list-style: none;
    color: rgb(78, 76, 76) !important;
}

.container .nav-link:hover,
.container .nav-link.active {
    color: rgb(165, 47, 56) !important;
    transition: 0.5s ease all;
}



.upper-footer {
    padding: 50px;
    box-sizing: border-box;
    background-color: #24324a;
    width: 100%;
}

.upper-footer-logo {
    color: white;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 22px;
    font-weight: 700;
}

.footer-address-item {
    font-size: 16px;
    padding: 0 30px;
    color: rgba(240, 248, 255, 0.637) !important;
}

.footer-address-item i {
    background-color: rgb(117, 35, 35);
    padding: 5px 7px;
    border-radius: 3px;
}

.upper-footer-center h5 {
    padding: 30px;
    font-size: 22px;
    color: #fff;
}

.upper-footer-pages {
    color: rgba(240, 248, 255, 0.637) !important;
}

.upper-footer-pages-left li:hover, .upper-footer-pages-right li:hover{
    color: #fff;
}

.upper-footer-right h5 {
    padding: 30px;
    font-size: 22px;
    color: #fff;
}

.upper-footer-right ul {
    font-size: 20px;
}

.upper-footer-right ul li {
    padding: 3px 8px;
    border-radius: 3px;
    cursor: pointer;
}

.upper-footer-right ul li:nth-child(1) {
    background-color: #1877f2;
    color: white;
}

.upper-footer-right ul li:nth-child(2) {
    background-color: #1da1f2;
    color: white;
}

.upper-footer-right ul li:nth-child(3) {
    background-color: #0077b5;
    color: white;
}

.upper-footer-right ul li:nth-child(4) {
    background-color: #25d366;
    color: white;
}

.bottom-footer {
    box-sizing: border-box;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    color: rgb(149, 132, 207);
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(29, 29, 94);
    padding: 10px; /* Opsiyonel: Footer içeriğini daha iyi göstermek için bir iç kenarlık ekleyebilirsiniz */
    box-sizing: border-box; /* Padding'i ve border'ı elemanın genişliğine dahil etmek için */
}

.banner_section {
    margin-bottom: 30px;
}

.banner-image {
    position: relative;
}

.banner-title {
    position: absolute;
    top: 50%;
    left: 300px;
    background-color: #7299dd;
    color: #fff;
    padding: 30px 50px;
    font-size: 33px;
    font-weight: bold;
}

.banner-image {
    position: relative;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 43px;
    font-weight: bold;
}

.banner-image img {
    width: 100%;
    height: 568px;
    object-fit: cover;
}

.banner-search-card{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    position: absolute;
    right: 15%;
    bottom: 15%;
}

ul, nav{
    list-style: none;
    padding: 0;
  }

  a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
  }

  a:hover {
    opacity: 1;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin: 0 0 1.5rem;
  }

  i {
    font-size: 1.3rem;
  }

  header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 100px 0;
  }

  header nav ul {
    display: flex;
  }

  header nav li{
    margin: 0 15px;
  }

  header nav li:first-child{
    margin-left: 0;
  }

  header nav li:last-child{
    margin-right: 0;
  }

  a.btn {
    color: #fff;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }

  a.btn:hover {
    background: #d73851;
    border: 1px solid #d73851;
    color: #fff;
  }

  .cover  {
    height: 100vh;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.05)), to(rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
    padding: 20px 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 0;
  }

  .flex-form input[type="submit"] {
    background: #ef3f5a;
    border: 1px solid #ef3f5a;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }

  .flex-form input[type="submit"]:hover {
    background: #d73851;
    border: 1px solid #d73851;
  }

  .flex-form {
    display: -webkit-box;
    display: flex;
    z-index: 10;
    position: relative;
    width: 500px;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  }

  .flex-form > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
  }

  input[type="search"] {
    flex-basis: 500px;
  }

  #madeby {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 25px 100px;
    color: #fff;
  }

.main-image img {
    width: 100%;
    height: 668px;
    object-fit: cover;
    filter: brightness(0.5); /* 50% parlaklık */
}

.current-items,
.sold-items {
    background-color: #f5f5f5;
    padding: 100px 0;
}

.title-container {
    margin-bottom: 80px;
}

.items-title {
    font-size: 40px;
    color: #1877f2;
}

.items-subtitle {
    color: #0072b1;
}

.trading-status {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-weight: 500;
}

.yacht_price {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    background-color: #0a547a !important;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.specification_key {
    background-color: lightseagreen;
    padding: 3px 5px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: "Roboto", sans-serif;
}

.yacht-card {
    width: 100%;
    height: 250px;
    border-radius: 30px;
}

.yacht-card img {
    height: 80%;
}

article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    width: 100%;
}

article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
}

/* basic article elements styling */
article h2 {
    margin: 0 0 18px 0;
    font-size: 1.9rem;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}

figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    width: 100%;
}

.yachts figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.yachts article img {
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

article img {
    max-width: 100%;
    height: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

.article-body {
    padding: 24px;
}

.article-body .card-body{
    font-family: 'Poppins', sans-serif;

}

article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
    font-weight: bold;
}

article a:focus {
    outline: 1px dotted #28666e;
}

article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/************************
  Generic layout (demo looks)
  **************************/

*,
*::before,
*::after {
    box-sizing: border-box;
}

.articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
}

.suggestion-title{
    font-family: "Montserrat";
    margin-top: 5px;
}

.filter-wrapper {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    height: fit-content;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.slider .slider-item {
    height: 550px;
}

.slider .slider-item img {
    object-fit: cover;
}

.prev-slide {
    z-index: 999;
    cursor: pointer;
    font-size: 50px; /* veya başka bir boyut */
    color: white;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.next-slide {
    z-index: 999;
    cursor: pointer;
    font-size: 50px; /* veya başka bir boyut */
    color: white;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

.card-center .card-item-title {
    font-size: 35px;
    color: teal;
}

.card-item-location {
    font-size: 20px;
    color: #0a547a;
}

.card-bottom ul li {
    background-color: #f5f5f5;
    padding: 5px 12px;
    border-radius: 15px;
}

table {
    width: 750px;
    border-collapse: collapse;
    margin: 50px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}

th {
    background: #3498db;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
}

.contact-section img {
    height: 700px;
    object-fit: cover;
    filter: brightness(50%);
}

.contact-section .contact-text {
    top: 45%;
    left: 15%;
    color: #f4f4f4;
    font-size: 1.5rem;
    font-family: "Montserrat Alternates", sans-serif;
    text-align: center;
}




.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #eee;
    transition: background-color 0.3s ease;
}

.page-link:hover {
    background-color: #ddd;
}

.page-link:first-child,
.page-link:last-child {
    background-color: transparent;
}



#scrollToTopBtn {
    display: none; /* Sayfanın en üstünde değilken butonu gizle */
    position: fixed;
    bottom: 30px;
    right: 100px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  #scrollToTopBtn:hover {
    background-color: #0056b3;
  }

  .social-media-icons{
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: fixed;
    right: 5px;
    top: 50%;
    transform: translateY(-50%)
  }

  .social-media-icon{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
  }

.social-media-icon:nth-child(1)
{
    background-color: #25d366;
}

.social-media-icon:nth-child(2)
{
    background-color:	#c71610;
}

.social-media-icon:nth-child(3)
{
    background-color:#3b60c4;
}
